<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	data-th-replace="~{base :: layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>product</title>
</head>
<body>
	<section>
		<div class="container-fluid bg-primary p-4 mt-5">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<form action="#" method="get">
						<div class="input-group">
							<input type="text" class="form-control" name="ch">
							<button class="btn btn-light text-dark ms-3 col-md-2">
								<i class="fa-solid fa-magnifying-glass"></i> Search
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container-fluid mt-1">
			<div class="row">
				<div class="col-md-2">
					<div class="list-group">
						<a href="/ecom/products" 
						th:classappend="${paramValue==''} ? 'active':''"
						class="list-group-item list-group-item-action"
						
							aria-current="true"> All </a> 
							
							<a 
							th:each="cat:${categories}" th:href="@{'/products?category='+${cat.name}}"
							th:classappend="${paramValue==cat.name} ? 'active' : ''  "
							class="list-group-item list-group-item-action">
							[[${cat.name}]] </a>

					</div>
				</div>
				<div class="col-md-10">
					<div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body">
							<p class="fs-3 text-center">Products</p>
							<div class="row">
								<th:block th:if="${products.size}">
									<div class="col-md-3 mt-1" th:each="prd:${products}">
										<div class="card">
											<div class="card-body">
												<img th:src="@{'/img/product_img/'+${prd.image}}"
													width="100%" height="150px">
												<p class="text-center">[[${prd.title}]]</p>
												<p class="text-center">Info : [[${prd.description}]]</p>
												<div class="row text-center">
													<p class="fs-6 fw-bold">Price : &#8377;[[${prd.price}]]
													</p>
													<a class="btn btn-primary col-md-8 offset-md-2"
														th:href="@{'viewproduct/'+${prd.id}}">view details</a>
												</div>
											</div>
										</div>
									</div>
								</th:block>
								<th:block th:unless="${products.size>0}">
									<p class="text-center">Product Not Avaiable</p>
								</th:block>
								<!-- ToDo  -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>