<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	data-th-replace="~{base :: layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>product details</title>
</head>
<body>
	<section>
		<div class="container card-sh" style="margin-top: 70px">
			<div class="col-md-12 p-5">
				<div class="row">
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeMessage()}"></th:block>
					</th:block>
						

					<div class="col-md-6 text-end">
						<img th:src="@{'/img/product_img/'+${product.image}}"
							width="330px" height="400px">


					</div>

					<div class="col-md-6">

						<div class="col-md-6">

							<p>
								<span class="fw-bold">Product Name :[[${product.title}]]</span>
								<br> <span class="fw-bold">Description :
									[[${product.description}]] </span>
							</p>

							<p class="fs-5 fw-bold">
								Price :&nbsp;<i class="fas fa-rupee-sign"></i>
								[[${product.price}]]

							</p>

							
							<th:block th:if="${user==null}">
								<div>
									<a href="/signin" class="btn btn-danger col-md-12">Add To
										Cart</a>
										<!-- <p>Must Be Login</p> -->
								</div>
								
							</th:block>
							<th:block th:if="${user!=null}">
								<div>
									<a th:href="@{'/user/addCart?pid='+${product.id}+'&uid='+${user.id}}" class="btn btn-danger col-md-12">Add To
										Cart</a>
										<!-- <p>user login</p> -->
								</div>
								<div>
									
									<a  th:href="@{'/user/specific_order?pid='+${product.id}}" class="btn text-white bg-success col-md-12 mt-2">Buy Now</a>
								</div>
							</th:block>

							

						</div>


					</div>
				</div>
				</th:block>
			</div>
		</div>
	</section>
</body>
</html>